.kpi-container {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  gap: 15px;
}

.kpi-card {
  flex: 1;
  text-align: center;
  color: white;
  border-radius: 10px;
  padding: 15px 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.kpi-card h4 {
  margin-bottom: 5px;
  font-size: 1.1em;
}

.kpi-card p {
  font-size: 1.3em;
  font-weight: bold;
}
